.h1
{
		color: red;
		text-align: center;
		font-family:arial;
		font-size:60px;
}

.p
{
	font-family:verdana;
	font-size:20px;
}

.button 
{
	 background-color: #ffff;
	 border: 2px solid black;
	 color: black;
	 padding: 15px 30px;
	 text-align: center;
	 text-decoration:none;
	 display: inline-block;
	 font-size: 20px;
	 margin: 4px 2px;
	 cursor: pointer;
}
.div
{
	color:black;
	font-size:xxx-large;
	line-height: 30px;
} 